<h1>About Us</h1>
<div>Jungle is a locally owned plant store that's served the community for over 7000 years.
 We pride ourselves on our knowledge, customer satisfaction and the ability to use our plants to create eternal life. 
 Our fair prices haven't been beat since the Elder Beings blessed us with the Light seed. 
  So please, come on down and ask us about our plants! We'll be waiting... </div>